/* ESERCIZIO1 */
.ex-1-square{
    transition: 3s;
}

.ex-1-square:hover{
    background: red;
}

/* ESERCIZIO2 */
.ex-2-square{
    transition: 3s;
}

.ex-2-square:hover{
    width: 100%
}

/* ESERCIZIO3 */
.ex-3-square{
    transition: 3s;
}

.ex-3-square:hover{
    border-radius: 50px;
}

/* ESERCIZIO4 */
.ex-4-square{
    transition: 3s;
}

.ex-4-square:hover{
    opacity: 0;
}

/* ESERCIZIO5 */
.ex-5-square{
    transition: 3s;
}

.ex-5-square:hover{
    width: 100px;
    height: 100px;
}

.ex-5-square:active{
    width: 30px;
    height: 30px;
}

/* ESERCIZIO6 */
.ex-6-img:hover{
    filter: grayscale(1);
}

/* ESERCIZIO7 */
.ex-7-img{
    transition: 3s;
}

.ex-7-img:hover{
    filter: hue-rotate(180deg)  grayscale(80%);
}

/* ESERCIZIO8 */
.ex-8-img{
    transition: 3s;
}

.ex-8-img:hover{
    filter: hue-rotate(180deg) grayscale(80%);
    border-radius: 40px;
}

/* ESERCIZIO9 */
.ex-9-img{
    transition: 3s;
}

.ex-9-img:hover{
    filter: hue-rotate(180deg) grayscale(80%);
    border-radius: 40px;
    transform: scale(0.5);
}

/* ESERCIZIO10 */
.ex-10-icon{
    animation: ruota 3s infinite linear;
}

@keyframes ruota {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/* ESERCIZIO11 */
.ex-11-icon:hover{
    animation: ruota270eritornaveloce linear 4s;
}

@keyframes ruota270eritornaveloce {
  0% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* ESERCIZIO12 */
/* misure prese dall'inspector */
.ex-12-button:hover .ex-12-top-white{
    animation: muovi-a-destra 4s forwards;
}

@keyframes muovi-a-destra {
  0% {
    left: 10%;
  }
  100% {
    left: calc(100% - 60px);
  }
}

.ex-12-button:hover .ex-12-bottom-white{
    animation: muovi-a-sinistra 4s forwards;
}

@keyframes muovi-a-sinistra {
  0% {
    right: 20%;
  }
  100% {
    right: calc(100% - 60px);
  }
}

/* ESERCIZIO13 */
/* le velocità non sono uniformi perchè i rettangolini bianchi partono staccati dal vertice e bisogna dividere l'animazione in 5 punti invece che 4 */
.ex-13-button:hover .ex-13-top-white{
    animation: gira-in-tondo infinite linear 4s;
}

@keyframes gira-in-tondo {
  0% {
    left: 10%;
  }
  30% {
    left: calc(100% - 30px);
    top: -10px;
  }
  45% {
    left: calc(100% - 30px);
    top: calc(100% - 10px);
  }
  75% {
    left: -30px;
    top: calc(100% - 10px);
  }
  90% {
    left: -30px;
    top: -10px;
  }
  100%{
    left: 10%;
  }
}

.ex-13-button:hover .ex-13-bottom-white{
    animation: gira-in-tondo2 infinite linear 4s;
}

@keyframes gira-in-tondo2 {
  0% {
    right: 20%;
  }
  30% {
    right: calc(100% - 30px);
    top: calc(100% - 10px);
  }
  45% {
      right:  calc(100% - 30px);
      top: -10px;
  }
  75% {
    right: -30px;
    top: -10px;
  }
  90% {
    right: -30px;
    top: calc(100% - 10px);
  }
  100%{
    right: 20%;
    top: calc(100% - 10px);
  }
}
